---
import "../styles/global.css";
import PersonalDetails, {
  type PersonalDetailsProps,
} from "../components/PersonalDetails.astro";
import { Icon } from "astro-icon/components";
import Section from "../components/Section.astro";
import Entry, { type EntryProps } from "../components/Entry.astro";
import Skill, { Proficiency, type SkillProps } from "../components/Skill.astro";

const personalDetails: PersonalDetailsProps = {
  firstName: "Sead",
  lastName: "Mulahasanović",
  jobTitle: "Software Developer",
  phoneNumber: "+38762267917",
  emailAddress: "mulahasanovic@outlook.com",
  city: "Bugojno",
  country: "Bosnia and Herzegovina",
  personalWebsite: "sead.dev",
};
const skills: SkillProps[] = [
  { label: "React" },
  { label: "TypeScript" },
  { label: "JavaScript" },
  { label: "Node" },
  { label: "Next.js" },
  { label: "Astro" },
  { label: "Tailwind CSS" },
  { label: "Sass (SCSS)" },
  { label: "CSS" },
  { label: "PostgreSQL" },
  { label: "Redis" },
  { label: "Git" },
  { label: "API Development and integrations" },
  { label: "Progressive Web Apps (PWA)" },
  { label: "Responsive Web Design" },
  { label: "GraphQL" },
  { label: "Event Sourcing" },
  { label: "C#" },
  { label: "Unity" },
  { label: "C++" },
  { label: "Project Management" },
];
const languages: SkillProps[] = [
  { label: "Bosnian", proficiency: Proficiency.Native },
  { label: "English", proficiency: Proficiency.Fluent },
];
const experiences = await Astro.glob<EntryProps>("../experiences/*.md");
const internships = await Astro.glob<EntryProps>("../internships/*.md");
const education = await Astro.glob<EntryProps>("../education/*.md");

const pageTitle = `${personalDetails.firstName} ${personalDetails.lastName} | ${
  personalDetails.jobTitle
} | ${new Date().toLocaleDateString()} | Resume`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={`Minimal Web Resume`} />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body
    class="font-sans text-neutral-800 dark:text-neutral-200 lg:p-12 dark:bg-neutral-800"
  >
    <button
      data-print-button
      class="bg-white dark:bg-neutral-900 size-16
    rounded-full shadow-md fixed top-4 right-4 print:hidden"
      type="button"
      >PDF<Icon
        size={14}
        name={"icon_link"}
        class="inline-block align-middle print:hidden"
      /></button
    >
    <main
      class="rounded-lg mx-auto my-auto max-w-4xl space-y-14 shadow-2xl p-16 print:shadow-none print:p-0 dark:bg-neutral-900"
    >
      <PersonalDetails {...personalDetails} />

      <Section title="Summary">
        Software Developer with a strong focus on details. Proactive and willing
        to learn new stuff. Worked with multiple technologies across many
        different projects, including design, architecture, optimizations and
        user experience for almost a decade.
      </Section>

      <Section title="Experience">
        {
          experiences.map((exp) => (
            <Entry
              {...exp.frontmatter}
              compiledContent={exp.compiledContent()}
            />
          ))
        }
      </Section>

      <Section title="Internships">
        {
          internships.map((internship) => (
            <Entry
              {...internship.frontmatter}
              compiledContent={internship.compiledContent()}
            />
          ))
        }
      </Section>

      <Section title="Education">
        {
          education.map((edu) => (
            <Entry
              {...edu.frontmatter}
              compiledContent={edu.compiledContent()}
            />
          ))
        }
      </Section>

      <Section title="Skills">
        <ul class="space-y-2 sm:columns-2">
          {skills.map((skill) => <Skill {...skill} />)}
        </ul>
      </Section>

      <Section title="Languages">
        <ul class="space-y-2 sm:columns-2">
          {languages.map((lang) => <Skill {...lang} />)}
        </ul>
      </Section>
    </main>
    <script>
      const button = document.querySelector("[data-print-button]");
      button?.addEventListener("click", () => window.print());
    </script>
  </body>
</html>
